body {
    background-image: linear-gradient(90deg, black, silver, grey);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Container {
width: 80%;
display: flex;
flex-direction: column;



border: 10px solid;
background-color: beige;
}

.span {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 3%;
   
}
.general-exp {
    
    font-weight: bold;
    font-family: helvetica;
   color: white;
   text-shadow: 1px 1px crimson;
   font-size: larger;
   text-align: center;
}

.general-exp:hover {
    
    font-size: x-large;
}

.exp-link {
  word-spacing: 14px;
  color: white;
  text-shadow: 1px 2px black;
  font-weight: bold;
  font-size: large;
}


.exp-link .one a:hover {
    color: red;
    text-shadow: 1px 1px wheat;
    font-style: italic;
}

.exp-link .two a:hover {
    color: cyan;
    
    font-weight: bold;
    

}

.exp-link .three a:hover {
    color: gold;
    text-shadow: 1px 1px blue;
    font-family: cursive;

}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(5, 2, 77);
    padding-top: 3%;
   
    padding-bottom: 20%;
}

.web {
    color: silver;
    text-shadow: 1px 1px black;
    width:100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
    display: flex;
}
.words {
    width: 50%;
     text-align: left;
}
.web h1 {
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
}

button {
    font-size: large;
    background-color: rgb(113, 10, 208);
    color: white;
    text-shadow: 2px 2px black;
    border-radius: 13%;
    padding-bottom: 1%;
    padding-top: 1%;
}

button:hover {
    background-color: rgb(27, 131, 201);
    padding-top: 1%;
    padding-bottom: 1%;
}
.place-holder {
    width: 35%;
display: flex;
height: 20vh;
align-items: center;

justify-content: center;
font-weight: bold;
font-style: italic;
font-family: cursive;
background-color: rgb(139, 135, 135);

}

.middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   background-color: rgb(103, 89, 89);
   color: white;
    width: 100%;
    padding-bottom: 10% ;
    padding-top: 5%;
    font-weight: bold;
    font-family: helvetica;
    
}

.middle em {
    text-decoration: underline;
    width: inherit;
  
}

.boxes {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 2; 
   
   align-items: center;
    width: 100%;
}

.box-type {
    width: 20%;


   
   
}

.box {
    width: 100%;
    height: 20vh;
    border-radius: 10%;
    border: 5px solid rgb(203, 203, 212);
    display: flex;
    align-items: center;
    
  
  
}

.box-type strong {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-wrap: wrap;
}

.quote {
    width: 100%;
    background-color: rgb(174, 172, 172);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 5%;
     padding-bottom: 5%;
}

.quo {
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
}

.author {
    width: 60%;
    text-align: right;
    font-weight: 1000;
    font-style: italic;
    font-family: cursive;
    

}

.ending {
width: 100%;
padding-top: 10%;
padding-bottom: 10%;
display: flex;
align-items: center;
justify-content: center;
background-image: linear-gradient(45deg, black, rgb(97, 74, 74));
}

.end {
    display: flex;
align-items: center;
justify-content: space-und;
flex-direction: row;
    width: 95%;
    border-radius: 5%;
    padding-bottom: 2%;
    background-color: rgb(63, 62, 125);
}

.end h2 {
    color: white;
    text-shadow: 2px 1px black;
    font-family: helvetica;
}

.end strong {
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
    color: white;
    text-shadow: 1px 1px red;
}

.end-w {
display: flex;
flex-direction: column;
width: 80%;
align-items: center;



}

.end-b {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20%;
    
}

.ending buttons {
    background-color: rgb(0, 0, 0);
    padding: 10%;
    border-radius:50%;
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
   color: white;
   text-shadow: 1px 1px black;
}

.ending buttons:hover {
    background-color: rgb(98, 23, 23);

}

.done {
    background-color: rgb(94, 89, 81);
    color: white;
    text-shadow: 1px 1px black;
    font-style: italic;
    font-family: cursive;
}